<!DOCTYPE html>
<html xmlns:th= "http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<title>Change name in the 'Lucky Seven' game</title>
</head>
<body class="well" style="background-color: #FFE87C;">
	<h3 class="text-center"><strong>CHANGE YOUR USER NAME IN THE 'LUCKY SEVEN' GAME!</strong></h3>
	<br><br><br>
	
	<div class= "container-fluid text-center" style="background-color: #FBF6D9;">
		<br>
		<div class="row justify-content-md-center">
			<div class="col-md-auto">
				You are connected as player:
			</div>
			<div class="col-md-auto">
				<strong><div th:text="${user.getName()}" name=name></div></strong>
			</div>
		</div>
		<br><br>
		<form action="/luckyseven/options/user/name_changed" method=post>
			<strong>ENTER NEW NAME: </strong><input type=text name=newName>
			<br><br>
			<p>(If you do not enter a name, you will play as anonymous. 
				You won't be able to recover your scores next time.)</p>
			<br>
			<button type="submit" class="btn btn-primary">UPDATE NAME</button>
			
		</form>
		<br>
	</div>
</body>
</html>