<!DOCTYPE html>
<html xmlns:th= "http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Shops</title>
</head>

<body class="well" style="background-color: #FFE87C;">
	<h3 class="text-center"><strong>RANKING OF THE 'SAME DICE' GAME</strong></h3>
	<br><br>
	
	<div class= "container-fluid text-center" style="background-color: #F5FFFA;">
		<br>
		<div class="row justify-content-md-center">
				<div class="col-md-auto">
					You are connected as player:
				</div>
				<div class="col-md-auto">
					<strong><div th:text="${user.getName()}"></div></strong>
				</div>
				<div class="col-auto">(id:
				</div>
				<div class="col-auto">
					<strong><div th:text="${user.getId()}"></div></strong>
				</div>
				<div class="col-auto">)
				</div>
			</div>
			<br>
			<div class="table-responsive">
				<table class="table table-striped table-bordered" style="background-color: #FFFFFF;">
					<thead class="thead-dark">
						<tr> <th class="text-center"> ID <th class="text-center"> NAME 
							<th class="text-center"> REGISTERED <th class="text-center"> PLAYED ROUNDS 
							<th class="text-center"> WON ROUNDS <th class="text-center"> SUCCESS RATE (%) </tr>
					</thead>
					<tbody>
						<tr th:each="u: ${users}">
							<td><span th:text="${u.getId()}"></span></td>						
							<td><span th:text="${u.getAlias()}"></span></td>
							<td><span th:text="${u.getRegistered()}"></span></td>
							<td><span th:text="${u.getSdRoundsPlayed()}"></span></td>
							<td><span th:text="${u.getSdWonRounds()}"></span></td>
							<td><span th:text="${u.getSdSuccessRate()}"></span></td>
						</tr>
					</tbody>
				</table>
			
			<br>
			<div class="row justify-content-md-center">
				<div class="col-md-auto">
					<h4>The average success rate for all players is (%):</h4>
				</div>
				<div class="col-md-auto">
					<h4><strong><div th:text="${successAverage}"></div></strong></h4>
				</div>
				<br>
			</div>
			<br>
			<div class="row justify-content-md-center">	
				<div class="col-md-auto">
					<h4>The actual winner is...</h4>
				</div>
				<div class="col-md-auto">
					<h4><strong><div th:text="${winner}"></div></strong></h4>
				</div>
			</div>
			<br>
			<div class="row justify-content-md-center">	
				<div class="col-md-auto">
					<h4>The actual loser is...</h4>
				</div>
				<div class="col-md-auto">
					<h4><strong><div th:text="${loser}"></div></strong></h4>
				</div>
			</div>
			<br>
		</div>
	</div>
	
	<br><br>
	<div class= "container-fluid text-center" style="background-color: #F5FFFA;">
		<br>
		<h4><strong>WHAT WOULD YOU LIKE TO DO?</strong></h4>
		<br>	
		<div class="row justify-content-md-center">
			<div class="col-md-auto">
				<form action="/luckyseven/options/samedice/playround" method="get">			
					<h5><strong>PLAY A NEW ROUND</strong></h5>
					<br>		
					<button type="submit" class="btn btn-success">PLAY ROUND!</button>
				</form>
			</div>
			<div class="col-2">
			</div>
			<div class="col-md-auto">
				<form action="/luckyseven/options/user/samedice/rounds" method="get">			
					<h5><strong>SEE YOUR ROUNDS LIST</strong></h5>
					<br>		
					<button type="submit" class="btn btn-warning">SEE ROUNDS</button>
				</form>
			</div>
		</div>
		<br><br>
		<div class="col-md-auto">
				***********************************************************
		</div>
		<br><br>
		<div class="row justify-content-md-center">
			<div class="col-md-auto">
				<form action="/luckyseven/user/options" method="get">
					<h5><strong>GO BACK TO OPTIONS</strong></h5>
					<br>		
					<button type="submit" class="btn btn-primary">OPTIONS</button>
				</form>
			</div>
		</div>
		<br><br>
	</div>
	
</body>
</html>